@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Mono:wght@400;500&display=swap');

/*=============================================================
=== ZADANIE 1 - Dodanie palety kolorów  ===
=============================================================*/
:root {
    --background: #191d3d;
    --background-highlight: #1d2455;
    --background-highlight-light: #222a67;
    --text: #fff;
    --text-faded: #ddd;
    --text-faded-dark: #6b7280;

    --primary: #0b6bbf;
    --primary-light: #2fadff;
    --primary-dark: #074b88;
}



/*=============================================================
=== ZADANIE 2 - Dodanie styli CSS ===
=============================================================*/
/* Tu wklej kod do swojego zadania */


