<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktyklog - Dziennik Praktyk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="wrapper">

    
    <header class="topbar">
        <div class="logo">Praktyk<span>log</span></div>
        <div class="top-links">
            <a href="#" class="btn-main-secondary">Zaloguj się</a>
        </div>
    </header>


    <!-- =============================================================
    === ZADANIE 5 - Dodanie głównej części strony ===
    ============================================================= -->
    <!-- Tu wklej kod do swojego zadania -->


    <hr>


    <h1 class="features-title">Techonologie</h1>
    <div class="features">


        <!-- =============================================================
        === ZADANIE 8 - Dodanie karty: Taiga ===
        ============================================================= -->
        <!-- Tu wklej kod do swojego zadania -->
        

        <!-- =============================================================
        === ZADANIE 9 - Dodanie karty: Flask ===
        ============================================================= -->
        <!-- Tu wklej kod do swojego zadania -->


        <!-- =============================================================
        === ZADANIE 10 - Dodanie karty: SQLite ===
        ============================================================= -->
        <!-- Tu wklej kod do swojego zadania -->
        

        <!-- =============================================================
        === ZADANIE 11 - Dodanie karty: DBeaver ===
        ============================================================= -->
        <!-- Tu wklej kod do swojego zadania -->
        

        <!-- =============================================================
        === ZADANIE 12 - Dodanie karty: Mermaid ===
        ============================================================= -->
        <!-- Tu wklej kod do swojego zadania -->
        


    </div>


    <!-- =============================================================
    === ZADANIE 7 - Dodanie stopki ===
    ============================================================= -->
    <!-- Tu wklej kod do swojego zadania -->


</div>
</body>
</html>